<div class="menu-nav" id="menunav">
    <div class="links">
        <a href="/profile" class="active">Home</a>
        <a href="/menu">Menu</a>
        <a href="/contact">Contact</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/about">About</a>
    </div>
    <div class="btns">
        <button><a href="#about">Find a table</a></button>
        <a href="/cart"><i class="ri-shopping-cart-2-line"></i>2</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>