<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <div class="main">
        <%- include ./partials/nav %>
        <div class="sec1">
            <div class="left">
                <div class="box">
                    <h3>WE SERVE FRESHEST CATCHES</h3>
                    <h1>OUR MENU</h1>
                    <p id="p1">The best of local produce, fish and seafood caught off the South West coast. Our menus change twice daily depending on what the fishermen have brought in to us. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <p id="p2">We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <button>DISCOVER MORE</button>
                </div>
            </div>
            <div class="right">
                <div class="image">
                    <img src="https://i.pinimg.com/474x/95/a2/81/95a2816c2e440a9ca986a0cff8ab402f.jpg" alt="">
                </div>
               
            </div>
        </div>
        <!-- sec1 end -->

        <div class="sec2">
            <div class="left">
                <div class="image">
                    <img src="https://i.pinimg.com/474x/95/a2/81/95a2816c2e440a9ca986a0cff8ab402f.jpg" alt="">
                </div>
            </div>
            <div class="right">
                <div class="box">
                    <h3>ABOUT PATIOTIME SEAFOOD</h3>
                    <h1>OUR STORY</h1>
                    <p id="p1">Food is the foundation of true happiness. Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo.</p>

                    <p id="p2">We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <button>DISCOVER MORE</button>
                </div>
            </div>
        </div>
        <!-- sec2 end -->

        <div class="third">
            <h4>PATIO TIME SEAFOOD PHILOSOPHY</h4>
            <h2>SEAFOOD IS OUR PASSION, FRESHNESS IS OUR MISSION, AND QUALITY IS OUR COMMITMENT</h2>
            
            <h3>PLEASE READ OUR COVID-19 DINING POLICY</h3>
        </div>
        <!-- third edn -->

        
        <div class="sec3">
            <div class="left">
                <div class="image">
                    <img src="https://i.pinimg.com/474x/95/a2/81/95a2816c2e440a9ca986a0cff8ab402f.jpg" alt="">
                </div>
            </div>
            <div class="right">
                <div class="box">
                    <h3>ABOUT PATIOTIME SEAFOOD</h3>
                    <h1>OUR STORY</h1>
                    <p id="p1">Food is the foundation of true happiness. Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo.</p>

                    <p id="p2">We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <button>DISCOVER MORE</button>
                </div>
            </div>
        </div>
        <!-- sec3 end -->

        <div class="sec4">
            <div class="left">
                <div class="box">
                    <h3>WE SERVE FRESHEST CATCHES</h3>
                    <h1>OUR MENU</h1>
                    <p id="p1">The best of local produce, fish and seafood caught off the South West coast. Our menus change twice daily depending on what the fishermen have brought in to us. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <p id="p2">We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu integer tincidunt cras dapibus.</p>

                    <button>DISCOVER MORE</button>
                </div>
            </div>
            <div class="right">
                <div class="image">
                    <img src="https://i.pinimg.com/474x/95/a2/81/95a2816c2e440a9ca986a0cff8ab402f.jpg" alt="">
                </div>
               
            </div>
        </div>
        <!-- sec4 end -->
           <!-- footer -->
           <%- include partials/footer.ejs %>
    </div>
    <!-- main end -->
</body>
</html>