<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP</title>
  <link rel="stylesheet" href="/stylesheets/forget.css">
</head>
<body>
  <div id="main">
    <div class="box">
      <form action="/newpassword/<%=otp%>" method="post">
        <h2>Enter your OTP</h2>
      <!-- <p>Enter your Otp </p> -->
      <input type="text" name="newpassword" placeholder="New Password">
      <input type="text" name="confirmpassword" placeholder="Confirm Password">
      <button type="submit">Continue</button>
      </form>
    </div>
  </div>
</body>
</html>